<ion-tabs class="tabs-icon-bottom tabs-striped tabs-color-assertive">

    <!-- Student List Tab -->
    <ion-tab title="Students" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/driverTab/students">
        <ion-nav-view name="driverTab-student"></ion-nav-view>
    </ion-tab>

    <!-- Map Tab -->
    <ion-tab title="Map" icon-off="ion-earth" icon-on="ion-earth" href="#/driverTab/driverMap">
        <ion-nav-view name="driverTab-driverMap"></ion-nav-view>
    </ion-tab>

    <!-- Profile Tab -->
    <ion-tab title="Profile" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/driverTab/driverProfile">
        <ion-nav-view name="driverTab-driverProfile"></ion-nav-view>
    </ion-tab>


</ion-tabs>